body {
    margin: 0;
    padding: 0;
    background: #0d1a2d;
    font-family: 'Heebo', sans-serif;
}
.container-general {
    background: #0d1a2d;
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.card {
    background: #13273f;
    height: 480px;
    width: 300px;
    border-radius: 10px;
}
figure {
   margin: 20px; 
}
.nft-cubo {
    width: 100%;
}
.container-info {
   margin: 10px 20px; 
}
.title {
    color: white;
    letter-spacing: 0.7px;
    margin: 10px 0;
}
.description {
    color: #415673;
    font-size: 12px;
}

.container-eth {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    align-items: center;
}
.name-eth {
    color: #66e9e8;;
}
.container-ref-info {
    display: flex;
    gap: 5px;
    align-items: center;
}
.days-left {
    color: #415673;

}
.line {
    height: 1px;
    width: 100%;
    background: #415673;
    margin: 10px 0;
}
.profile {
    width: 28px;
    border-radius: 50%;
    border: 1px solid white;
}
.container-contact {
    display: flex;
    font-size: 11px;
    align-items: center;
    gap: 7px;
    color: #576b8a;
}
.info {

}
.made {
    color: #9fabb9;;
}
